<html>
<head>
  <title>Forethought: A To-Do Tracker</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Quicksand:wght@300&family=Zen+Loop&display=swap" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/3706e84bcf.js" crossorigin="anonymous"></script>
</head>

<body style="background: rgb(171,32,176); background: linear-gradient(144deg, rgba(171,32,176,1) 0%, rgba(222,124,42,1) 57%, rgba(240,244,11,1) 100%); color: #FFF; margin-top: 20px; height: 100%;">
  <div style="margin: 0 auto; width: 90%;">
    <h1 style="font-size: 70pt; font-family: "Amaranth"; text-align: center; text-transform: uppercase; color: #fff; margin-bottom: -15px;">F <i class="fas fa-search header-icon"></i>r e t h o u g h t</h1>
    <p style="text-align: center; color: #fff;">COMING SOON</p>
  </div>
</body>
</html>
