<html>
<head>
  <title>Forethought: A To-Do Tracker</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Quicksand:wght@300&family=Zen+Loop&display=swap" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/3706e84bcf.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h1>F <i class="fas fa-search header-icon"></i>r e t h o u g h t</h1>
    <p class="notice">COMING SOON</p>
  </div>
</body>
</html>
