* {
  font-family: "Quicksand", sans-serif;
  font-size: 20pt;
}

body {
  background: rgb(171,32,176);
  background: linear-gradient(144deg, rgba(171,32,176,1) 0%, rgba(222,124,42,1) 57%, rgba(240,244,11,1) 100%);
  color: #FFF;
  margin-top: 20px;
  height: 100%;
}

h1 {
  font-size: 70pt;
  font-family: "Amaranth";
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: -15px;
}

.header-icon {
  font-size: 70pt;
  vertical-align: top;
  margin-top: 20px;
}

h2 {
  color: #fff;
  font-size: 35pt;
  font-family: "Zen Loop";
  background: #a81468;
  padding: 5px 10px;
  margin: 5px 5px 25px 5px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.notice {
  text-align: center;
}
